:host {
  display: block;
}


curated-words-page .data-table-panel {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin-bottom: 5.0rem;
   width: 100%;
}
curated-words-page .no-data {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: 1.0rem 0 5.0rem 0;
}

curated-words-page .top-controls {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 1.0rem;
   min-width: 600px;
}

curated-words .table-container .dataTables_wrapper .dataTables_length {
   margin-bottom: 1.0rem !important;
}